@import 'utils/libs'
@import 'utils/fonts'
@import 'utils/vars'
@import 'utils/media'
@import 'places/intro'
@import 'places/universe'

html
  height: 100%
  overflow: hidden
  overflow-y: scroll
  overflow-x: hidden

body
  margin: 0
  padding: 0
  position: relative
  background: #091627
  perspective: 1px
  transform-style: preserve-3d
  overflow-x: hidden
  overflow-y: scroll
  height: inherit

section
  width: 100%
  min-height: 100vh

*, *:before, *:after
  box-sizing: border-box

a
  text-decoration: none

ul, li
  list-style-type: none
  margin: 0
  padding: 0
