.universe
  position: relative
  transform-style: inherit
  overflow: hidden
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: -1
    transform-origin: center
    object-position: 0 0
    background-image: url('/src/image/bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    transform: translateZ(-1px) scale(2)
  &__character
    position: relative
    display: block
    margin: auto
    width: 100%
    height: 100vh
    &-img
      position: absolute
  &__click
    background-image: url('/src/image/ellipse.png')
    background-repeat: no-repeat
    background-size: cover
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 20%
    display: flex
    align-items: flex-end
    line-height: 8vh
    z-index: -1
    justify-content: center
    background-position: center
    &-title
      color: #BCD2E2
      font-family: $regularFont
      text-transform: uppercase
      font-size: 2vw

.plant
  top: 0
  left: 0
  width: 19vw
  transition: .1s

.hand
  top: 38%
  left: 3%
  width: 6vw
  transition: .3s

.donut
  top: 52%
  left: 11%
  width: 5vw
  transition: .1s

.coin
  top: 2%
  left: 5%
  width: 30vw
  display: inline-block
  overflow: hidden
  transition: .1s
  cursor: pointer
  &:hover
    transition: .1s
    transform: scale(1.2)

.octopus
  top: 0
  left: 37%
  width: 21vw
  transition: .2s

.cat
  top: 22%
  left: 36%
  width: 8vw
  transition: .2s

.dog
  top: 3%
  width: 7vw
  left: 53%

.boom
  top: 1%
  right: 20%
  width: 19vw
  cursor: pointer
  transition: .2s

.twister
  top: 4%
  right: 8%
  width: 10vw
  transition: .4s

.eye
  top: 2%
  right: 0%
  width: 6vw
  transition: .3s

.jaws
  top: 15%
  right: 0
  width: 15vw
  transition: .1s

.ufo
  top: 45%
  right: -2%
  width: 12vw
  transition: .4s

.star
  top: 22%
  right: 12%
  width: 8vw
  transition: .1s

.gold
  top: 69%
  right: 10%
  width: 12vw
  transition: .2s

.worm
  top: 60%
  right: 5%
  width: 7vw
  transition: .1s

.trash
  top: 46%
  right: 25%
  width: 20vw
  cursor: pointer
  transition: .5s

.sun
  top: 25%
  right: 43%
  width: 23vw
  transition: .2s

.rocket
  top: 35%
  right: 15%
  width: 17vw
  cursor: pointer
  transition: .1s

.goblin
  top: 65%
  right: 45%
  width: 10vw
  transition: .3s

.ship
  top: 42%
  width: 24vw
  left: 15%
  cursor: pointer
  transition: .2s

.robot
  top: 63%
  left: 1%
  width: 16vw
  transition: .4s

.cube
  top: 66%
  left: 20%
  width: 16vw
  cursor: pointer
  transition: .1s

.mini-rocket
  top: 85%
  left: 15%
  width: 5vw
  transition: .2s
