@import "vars"

@font-face
  font-family: "DrinaRegular"
  src: url('/src/fonts/DrinaRegular/DrinaRegular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "HelveticaRegular"
  src: url('/src/fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
