@import "vars"

@font-face
  font-family: "Wizland"
  src: url('~fonts/Wizland/Wizland.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "StolzlNormal"
  src: url('~fonts/StolzlNormal/StolzlNormal.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "StolzlBold"
  src: url('~fonts/StolzlBold/StolzlBold.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "StolzlRegular"
  src: url('~fonts/StolzlRegular/Stolzl-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal